body {
    overflow-x: hidden;
}



#home-heading {
    position: relative;
    min-height: 200px;
    background: url("../img/lights.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
  
}

.dark-overlay {
    position: absolute;
    background-color: rgba(0, 3, 3, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#navbar2 {
    background-color: #19d5ca;
}





















