.container-fluid{
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
.card {
}



.form-content {
    padding: 5%;
    margin-bottom: 2%;
}

.form-control {
    border-radius: 1.5rem;
}

#btnSubmit {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
 
}

.selectWrapper {
    border-radius: 36px;
    display: inline-block;
    overflow: hidden;
    background: #cccccc;
    border: 1px solid #ced4da;
    margin-bottom: 3.5%;
}

.selectBox {
    width: 310px;
    height: 35px;
    border: 1px;
    outline: none;
}
h2 {
    padding-top: 6px;
    margin-top: 25px;
    text-align: center;
}


p {
    text-align: center;
    opacity: 0.7;
}
text {
    opacity:0.6 ;
    color:#ff0000;
    font-size:15px ;
    padding-left:20px; 
    padding-top:20px;
    margin-left: auto;
    margin-right: auto;
}