<!--


<section id="showcase">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>


        <div class="carousel-inner">
            <div class="carousel-item carousel-image-1 active">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block text-center mb-5">
                        <h1 class="display-3">Our Hotel</h1>

                    </div>
                </div>
            </div>

            <div class="carousel-item carousel-image-2">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block mb-5">
                        <h1 class="display-3">WONDERFUL VIEW</h1>

                    </div>
                </div>
            </div>


            <div class="carousel-item carousel-image-3">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block text-center  mb-5">
                        <h1 class="display-3">FEEL ENERGECTIC</h1>

                    </div>
                </div>
            </div>

            <div class="carousel-item carousel-image-4">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block text-center mb-5">
                        <h3 class="display-3">DELUXE ROOMS</h3>

                    </div>
                </div>
            </div>


            <div class="carousel-item carousel-image-5">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block text-left mb-5">
                        <h3 class="display-3">WIDE AND SERVED HALLS</h3>

                    </div>
                </div>
            </div>


        </div>

        <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
            <span class="carousel-control-prev-icon"></span>
        </a>

        <a href="#myCarousel" data-slide="next" class="carousel-control-next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</section>


-->
<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
    <div class="ws_images">
        <ul>
            <li><img src="~/Content/data1/images/4.png" alt="4" title="4" id="wows1_0" /></li>
            <li><img src="~/Content/data1/images/1.png" alt="1" title="1" id="wows1_1" /></li>
            <li><img src="~/Content/data1/images/2.png" alt="javascript slideshow" title="2" id="wows1_2" /></li>
            <li><img src="~/Content/data1/images/3.png" alt="3" title="3" id="wows1_3" /></li>
        </ul>
    </div>
    <div class="ws_bullets">
        <div>
            <a href="#" title="4"><span><img src="~/Content/data1/tooltips/4.png" alt="4" />1</span></a>
            <a href="#" title="1"><span><img src="~/Content/data1/tooltips/1.png" alt="1" />2</span></a>
            <a href="#" title="2"><span><img src="~/Content/data1/tooltips/2.png" alt="2" />3</span></a>
            <a href="#" title="3"><span><img src="~/Content/data1/tooltips/3.png" alt="3" />4</span></a>
        </div>
    </div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">javascript photo gallery</a> by WOWSlider.com v8.8</div>
    <div class="ws_shadow"></div>
</div>

<!-- End WOWSlider.com BODY section -->