<div>

    <div class="container register-form">
        <div class="form" style="margin-top:-45px; color:#2a9cd5;">

            <div class="card p-7" style="height:13rem;">

                <div style="padding-bottom:-30px;">

                    <h4 style="padding-top:6px; margin-top:25px; text-align:center; ">
                        Sign in  !
                    </h4>

                </div>


                <div class="form-content">
                    <div class="row" style="justify-content:center; " padding-bottom:50px;">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Username *" value="" />



                            </div>
                        </div>


                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Password *" value="" />



                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
