<div class="container-fluid register-form ">
        <div class="form ">

            <div class="card p-6 " >

                    <div>
                        <h2>
                            Fill in Your information here and sign up now !
                        </h2>

                        <p>
                            Choose the plan that suits you best and get started today.
                        </p>
                    </div>


                    <div class="form-content">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-3 col-sm-12 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Clinc Adminstrator First Name *" value="" />
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-3 col-sm-12 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Choose a Username *" value="" />
                                </div>
                            </div>


                            <div class="col-xl-4 col-lg-4 col-md-3 col-sm-12 col-sm-12">
                                <div class="selectWrapper" value="">
                                    <select class="selectBox">

                                        @Html.Partial("_SigupCountries")

                                    </select>
                                </div>
                            </div>





                            <div class="col-xl-4 col-lg-4 col-md-3 col-sm-12 col-sm-12">

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Your Phone Number " value="" />
                                </div>
                            </div>



                            <div class="col-xl-4 col-lg-4 col-md-3 col-sm-12 col-sm-12">

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Clinc Adminstrator Last Name *" value="" />

                                </div>
                            </div>


                            <div class="col-xl-4 col-lg-4 col-md-3 col-sm-12 col-sm-12">

                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Enter a Password *" value="" />
                                </div>
                            </div>



                            <div class="col-xl-4 col-lg-4 col-md-3 col-sm-12 col-sm-12">

                                <div class="form-group">

                                    <input type="text" class="form-control" placeholder="Choose your City " value="" />
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-3 col-sm-12 col-sm-12">

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Web Site " value="" />
                                </div>
                            </div>



                            <div class="col-xl-4 col-lg-4 col-md-3 col-sm-12 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Email *" value="" />

                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-3 col-sm-12 col-sm-12">

                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Confirm Password *" value="" />
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-3 col-sm-12 col-sm-12">

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Your Detailed Address *" value="" />
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-3 col-sm-12 col-sm-12">

                                <div class="selectWrapper" value="">
                                    <select class="selectBox">

                                        <option value="" disabled selected> Choose Membership type *</option>


                                        <option>Basic</option>
                                        <option>Standard</option>
                                        <option>Unlimited</option>

                                    </select>
                                </div>
                            </div>


                            <text>*Fields marked with an asterisk are required. </text>
                            <div class="col-md-12">



                                <input id="btnSubmit" type="submit" value="Sign Up" class="btn btn-outline-info btn-block">
                            </div>
                        </div>



                      
                    </div>

                </div>
            </div>
        </div>


