
<link href="~/Content/FrontEnd/css/contactus.css" rel="stylesheet">

<div class="row" id="contatti">
    <div class="container mt-5">

        <div class="row" style="height:550px;">
            <div class="col-md-6 maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d152609.22734060028!2d37.336396987673474!3d37.03864642581129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1531e6b4f7f18c2f%3A0xc02e8b35116baad0!2sGaziantep!5e0!3m2!1sen!2str!4v1586815543725!5m2!1sen!2str" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <h2 class="text-uppercase mt-3 font-weight-bold text-white">Contact us !</h2>
                <form action="">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control mt-2" placeholder="Name" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control mt-2" placeholder="Surname" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="email" class="form-control mt-2" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="number" class="form-control mt-2" placeholder="Phone Number" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Your Message" rows="3" required></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">

                            </div>
                        </div>
                        <div class="col-12">
                            <input id="btnSubmit" type="submit" value="Send" class="btn btn-light btn-block">

                        </div>
                    </div>
                </form>
                <div class="text-white ">
                    <h2 class="text-uppercase mt-4 font-weight-bold">Simple Clinic</h2>

                    <i class="fas fa-phone mt-3"></i> <a href="tel:+">(+90) 5393870098</a><br>
                    <i class="fas fa-phone mt-3"></i> <a href="tel:+">(+90) 5393870098</a><br>
                    <i class="fa fa-envelope mt-3"></i> <a href="">info@simpleclinic.com</a><br>
                    <i class="fas fa-globe mt-3"></i> Gaziantep, 27470  Turkey<br>
                    <div class="my-4 ">
                        <a href=""><i class="fab fa-facebook fa-3x pr-4"></i></a>
                        <a href=""><i class="fab fa-linkedin fa-3x"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

