<!-- CONTACT SECTION -->
<section id="contact" class="py-3">
    <div class="container" style="margin-top:-40px;">
        <div class="row">
            <div class="col-md-4">
                <div class="card p-4">
                    <div class="card-body">
                        <h4>Get In Touch</h4>
                        <p>You can contact us throughout the below contact information  . </p>
                        <h4>Address</h4>
                        <p>Turkey-Gaziantep</p>
                        <h4>Email</h4>
                        <p>Info@simpleclinic.com</p>
                        <h4>Phone</h4>
                        <p>(90) 5393870098</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card p-4" style="height:26.2rem;">
                    <div class="card-body">
                        <h3 class="text-center" style="padding-bottom:10px;"> Fill out this form in order to contact us</h3>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First Name *">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Last Name *">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">


                                    <input type="text" class="form-control" placeholder="Email *">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Phone Number">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Message"></textarea>
                                </div>
                            </div>

                            <text style="opacity:0.6 ;color:#ff0000;font-size:15px ;padding-left:20px;padding-bottom:45px;">*Fields marked with an asterisk are required.</text>

                            <div class="col-md-12"  >
                                <input  type="submit" value="Send Message "class="btn btn-outline-info btn-block">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
